<div class="user-details-container">
    <div style="margin-top: 90px;" class="card">
      <div class="card-header">
        <h2>User Profile</h2>

      </div>

      <div  style="height: 500px;" class="card-body">
        <div class="user-info">
          <div class="user-image">
            <img
              src="https://via.placeholder.com/150"
              alt="User Image"
              class="profile-pic"
            />
          </div>
          <div class="user-details">
            <h3 class="user-name">Yash Bhai</h3>
            <p class="user-email"><strong>Email:</strong>Yashgmail.com</p>
            <p class="user-contact"><strong>Contact:</strong>94206600655</p>
            <p class="user-address">
              <strong>Address:</strong> Jalgaon ,Maharashtra ,India
            </p>
            <p class="user-contact"><strong>Listed Item:</strong>10</p>
            <p class="user-contact"><strong>Contact:</strong>94206600655</p>

            <div class="user-rating">
              <strong>Rating:</strong>
              <span class="stars">
                ⭐⭐⭐⭐☆
              </span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  