<header>
    <nav class="nav-bar">
      <span class="logo">CamFrnd</span>
      <div class="nav-links">
        <a routerLink="createPodcut">Become a renter</a>
        <a routerLink="">Rental deals</a>
        <a routerLink="working">How it work</a>
        <a routerLink="whyChooseUs">Why choose us</a>
        <a routerLink="testimonials">testimonials</a>
        <a routerLink="login" class="sign-in">login</a>
        <button routerLink="signup" class="sign-up" style="background-color: #007bff; border-radius: 25px;">Sign up</button>

      </div>
    </nav>
   
  </header>

<router-outlet></router-outlet>