<header>
    <nav class="nav-bar">
      <span class="logo">CamFrnd</span>
      <div class="nav-links">
        <a routerLink="">Home</a>
        <a routerLink="createPodcut">Rent Now</a>
        <a routerLink="rentalDeals">Deals</a>
        <a routerLink="working">How-To</a>
        <a routerLink="whyChooseUs">Why Us</a>
        <a routerLink="testimonials">Reviews</a>
        <app-notification></app-notification>
        <a routerLink="login" class="sign-in">login</a>
        <button routerLink="signup" class="sign-up" style="background-color: #007bff; border-radius: 25px;">Sign up</button>

      </div>
    </nav>
   
  </header>

<router-outlet></router-outlet>