<div class="testimonials-container">
    <h1 class="section-title">What people say about us?</h1>
    <div class="testimonial-cards">
      <div style="margin-top: 50px;" class="testimonial-card" *ngFor="let testimonial of testimonials">
        <img [src]="testimonial.image" alt="User Image" class="testimonial-image" />
        <p class="testimonial-rating">{{ testimonial.rating }} stars</p>
        <p class="testimonial-feedback">"{{ testimonial.feedback }}"</p>
        <p class="testimonial-name">{{ testimonial.name }}</p>
        <p class="testimonial-location">{{ testimonial.location }}</p>
      </div>
    </div>
  </div>
  