<div class="signup-page">
  <div class="signup-container" style="margin-top: 50px;">
    <div class="signup-header">
      <h1>Join Us</h1>
      <p>Sign up and start your journey today!</p>
    </div>

    <form class="signup-form" >
      <!-- Full Name -->
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          placeholder="Enter your full name"
          [(ngModel)]="signupData.fullName"
          name="fullName"
          required
        />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          [(ngModel)]="signupData.email"
          name="email"
          required
        />
      </div>

      <!-- User Type -->
      <div class="form-group">
        <label for="dropdown">User type </label>
        <select
          class="form-control"
          id="dropdown"
          name="dropdown"
          [(ngModel)]="signupData.userType"
          required
        >
          <option value="option1">Vender</option>
          <option value="option2">Customer</option>
        </select>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Create a password"
          [(ngModel)]="signupData.password"
          name="password"
          required
        />
      </div>

      <!-- Address -->
      <div class="form-group">
        <label for="confirmPassword">Address</label>
        <input
          type="text"
          class="form-control"
          id="confirmPassword"
          placeholder="Enter your address"
          [(ngModel)]="signupData.address"
          name="address"
          required
        />
      </div>

      <!-- Sign Up Button -->
      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

      <div class="signup-footer">
        <p>
          Already have an account?
          <a href="/login" class="text-primary">Log in</a>
        </p>
      </div>
    </form>
  </div>
</div>
